@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        font-family: Poppins Semibold;
        background-color: #020202;
}

/* ------------ Menu Desktop ------------- */
.menu{
    padding: 5%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.menu::before{
    position: absolute;
}

.menu img{
    height: 50px;
    width: 50px;
}

.menu a{
        font-size: 15px;
        color: white;
        text-decoration: none;
}
.menu nav.desktop a{
    padding: 6px;
}

.menu nav.desktop a:hover{
    font-size: 20px;
    color: rgb(131, 131, 131);
    transition: color, text 0.5s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.menu button{
    color: white;
    background-color: #2E2E2E;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 5px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(53, 53, 53, 0.2);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.menu button:hover{
    color: #020202;
    background-color: rgb(255, 255, 255);
}

/* ------------ Menu Desktop ------------- */

